@media (max-width: 1020px) {

 .info-field__description-field {
  flex-direction: column;
  align-items: center;
 }

 .info-field__description-field img {
   width: 60%;
   margin-bottom: 2rem;
 }

 .songbird__fields-container {
  flex-direction: column;
  align-items: center;
}

.songbird__fields-container_reverse {
  flex-direction: column-reverse;
  align-items: center;
}

.question-field {
  flex-direction: column;
  align-items: center;

  .question-field__info-block {
    width: 90%;
  }

  .question-field__img-block {
    width: 90%;
  }

  .question-field__img-block img {
    width: 80%;
  }

  h3 {
    text-align: center;
  }
}

.answer-field {
  width: 100%;
}

.info-field__title {
  width: 90%;
  margin: 2rem;
}

.info-field {
  width: 90%;
  margin-top: 2rem;

  img {
    width: 60%;
  }

  .description-field__info-block {
    width: 90%;

    h3, p {
      text-align: center;
    }
  }
}
}

@media (max-width: 700px) {

  header .header__score-block {
    margin: 1.2rem 0;
  }

  .intro {
    align-items: center;
    justify-content: center;
    padding: 0rem;
    background-image: none;
    background-color: #74c8ca;
  }

  .intro h2 {
    font-size: 3rem;
    margin: 0 auto 80px;
    display: block;
  }

  .intro p {
    font-size: 2rem;
    display: block;
  }

  .intro button {
    margin-left: 0;
  }
}

@media (max-width: 450px) {

  .intro h2 {
    font-size: 2.4rem;
    display: block;
  }

  .intro p {
    font-size: 1.8rem;
    display: block;
  }

  header .header__score-block h1 {
    font-size: 1.5rem;
  }

  header .header__score-block span {
    font-size: 1.3rem;
    color: #423531;
  }

  .question-field .question-field__info-block h3 {
    font-size: 1.5rem;
  }

  .info-field__title {
    font-size: 1.3rem;
  }

  .end-game-block h2 {
    font-size: 1.6rem;
  }
}


@media (hover:hover) {

  .intro button:hover {
    cursor: pointer;
    opacity: 0.8;
    color: black;
    background-color: #eff385;
    border: 1px solid #16170198;
    box-shadow: 1px 1px 1px #000000e1;
    transition: all 0.8s;
  }

  footer button:hover {
    opacity: 0.7;
    transition: all 0.8s;
  }

  .end-game-block button:hover {
    opacity: 0.7;
    transition: all 0.8s;
  }
}