.rhap_container  {
  background-color: transparent !important;
  border: 1px solid #564c4c99 !important;
  border-radius: 1rem !important;
}

.rhap_progress-bar,
.rhap_volume-bar,
.rhap_download-progress {
  background-color: #ffffff45 !important;
}

.rhap_progress-filled {
  background-color: #4caf50b8 !important;
}

.rhap_progress-indicator,
.rhap_volume-indicator {
  background-color: #423531db !important;
}

.rhap_time {
  color:#423531bd !important;
}

.rhap_play-pause-button,
.rhap_button-clear,
.rhap_volume-button {
  color:#9e7d72bd !important;
}