
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, #f3f8af, #dbf2a6, #c1eca1, #a4e69e, #85df9e, #63d4a5, #3fc8ab, #00bcb0, #00a7b3, #0090af, #0079a5, #136294);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.songbird__main-container {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  padding: 2% 2%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.songbird__fields-container,
.songbird__fields-container_reverse {
  width: 100%;
  display: flex;
  margin: 0 0 2rem;
}

.songbird__fields-container {
  margin-top: 1rem;
}

.songbird__game-field_hide {
  display: none;
}