
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right bottom, #faffc4, #e6f9ba, #d0f4b2, #b7efac, #9ce9aa, #71d6ac, #45c3ad, #00aeac, #0086a1, #005e8d, #00366e, #090e44);  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.songbird__main-container {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  padding: 2% 2%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.songbird__fields-container {
  width: 100%;
  display: flex;
  margin: 0 0 2rem;
}
