header {
  .header__score-block {
    @include flexibleSpace;
    margin: 0rem 0 1.4rem;
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;

    h1 {
      padding: 0.2rem 1rem;
      color: #423531;
      background-color: #f3f3f3;
      border-radius: 5px;
      border: 1px solid #161701de;
      opacity: 0.9;
      text-align: center;
      transform: rotate(2deg);
    }

    span {
      font-size: 1.5rem;
      color: #423531;
    }
  }

  .header__question-number {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem;
    border-radius: 0.5rem;
    border: 1px solid #9e9e9e91;
    background-color: #ffffff4b;
    box-shadow: 1px 5px 11px #00000094;
  }
}