.answer-field {
  width: 30%;
}

.list__indicator {
  width: 13px;
  height: 13px;
  margin-right: 1rem;
  border: 1px solid #ffffff6e;
  border-radius: 50%;
  background-color: #868686a1;
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}